node_modules
.next
out
dist
build
.vercel
.firebase
firebase-debug.log
firestore-debug.log
ui-debug.log
.env
.env.local
.env.*.local
*.log
.DS_Store

# Flutter
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
ios/Pods
android/.gradle
